<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<title>Weather API</title>
</head>
<body ng-app="Data">

	<!--Populate a table within the app with this data-->
  <div class="app-component">
<h1 class="text-center">The Weather</h1>
<app-table></app-table>
</div>

  <!--Introduce a filter for searching by city name-->
  <div class="container" ng-app="sortApp" ng-controller="MainController">

    <div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ searchData }}</p>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Weather Search" ng-model="searchWeather">
        </div>
      </div>
    </form>

    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <td>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">

              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = ''; sortReverse = !sortReverse">

              <span ng-show="sortType == '' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == '' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = ''; sortReverse = !sortReverse">

              <span ng-show="sortType == '' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == '' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat=" | orderBy:sortType:sortReverse | filter:search">
          <td>{{  }}</td>
          <td>{{  }}</td>
          <td>{{  }}</td>
        </tr>
      </tbody>

    </table>

    <p class="text-center text-muted">
      <a href="#" target="_blank"></a>
    </p>

    <p class="text-center">
      by <a href="" target="_blank"></a>
    </p>

  </div>

  <!--Create a graph-->
  <div [hidden]="!chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>












	<script type="text/javascript" src="js/app.js"></script>

	<script src="js/controllers/MainController.js"></script>

</body>
</html>

  
