<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="data?.length != 0">
      <tr *ngFor="let data of datas">
          <td>{{ data.id }}</td>
          <td>{{ data.city }}</td>
          <td>{{ data.temp }}</td>
      </tr>
  </tbody>
  <tbody *ngIf="datas?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>

